:root {
  --brand-bg-color: #1f1f24;
  --brand-font-color: rgb(223, 190, 230);
}
@media (max-width: 768px) {
  .biopic {
    font-size: 20px;
  }
}

@media (max-width: 548px) {
  .profile-name {
    font-size: 24px;
    text-align: center;
  }
  .about-details {
    font-size: 16px;
    text-align: center;
  }
  .contact-button {
    justify-content: center;
  }
  .profile-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 50%;
    object-fit: contain;
  }
}

body {
  background: var(--brand-font-color);
  margin: 0;
  padding: 0;
}

h2 {
  font-style: italic;
}
footer {
  font-weight: 500;
  background: var(--brand-bg-color);
  color: var(--brand-font-color);
}

.hero {
  background: var(--brand-bg-color);
  color: var(--brand-font-color);
  text-align: center;
  padding: 80px 20px 80px 20px;
  border-radius: 1px;
  margin-bottom: 50px;
}
.montserrat-normal {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.button-link {
  color: var(--brand-bg-color);
  background: var(--brand-font-color);

  font-weight: 800;
  border-radius: 10px;
  width: 200px;
  padding: 10px 15px;
  margin: 50px;
  text-transform: uppercase;
  text-decoration: none;
}
.button-link:hover {
  color: var(--brand-font-color);
  background: var(--brand-bg-color);
  text-decoration: none;
}

.icon-link {
  text-decoration: none;
  color: var(--brand-font-color);
  padding: 0;
  margin: 0;
  transition: all 150ms ease-in-out;
}

.icon-link:hover {
  color: var(--brand-font-color);
  box-shadow: 5px 5px 50px rgba(223, 190, 230, 0.1);
}

.work-img {
  display: block;
  border-radius: 5px;
  margin: 10px auto;
  margin-top: 10px;
  max-width: 100%;
  object-fit: contain;
}

.card {
  background: var(--brand-bg-color);
  margin: 10px 5px;
  border-radius: 10px;
}

.card-title {
  color: var(--brand-font-color);
  font-weight: 800;
  text-align: center;
  margin-top: 10px;
}
.card-content {
  color: var(--brand-font-color);
  text-align: center;
}

.portfolio {
  margin: 100px;
}

.work-link {
  text-decoration: none;
}

.work-link:hover {
  text-decoration: none;
}

.about {
  background: var(--brand-bg-color);
  color: var(--brand-font-color);
  padding: 50px 20px 80px 20px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 10px 10px 50px rgba(22, 22, 22, 0.5);
  display: flex;
  justify-content: center;
}

.about-details {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
}

.profile-img {
  display: block;
  margin: 0 auto;
  object-fit: contain;
}
.extra-details {
  margin-bottom: 20px;
}

.about-page {
  background: var(--brand-bg-color);
}

.contact-link {
  color: var(--brand-font-color);
}

.work-page {
  background: var(--brand-bg-color);
  color: var(--brand-font-color);
  text-align: center;
  padding: 20px 10px;
  border-radius: 1px;
  margin-bottom: 25px;
  margin-top: 50px;
}

.page-title {
  color: var(--brand-bg-color);
  font-weight: 800;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}

.page-content {
  font-weight: 500;

  margin-top: 10px;
}

.launch-link {
  background: var(--brand-bg-color);
  color: var(--brand-font-color);
  font-weight: 800;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
}

.launch-link:hover {
  color: var(--brand-font-color);
  text-decoration: none;
}
.launch-btn {
  display: flex;
  justify-content: center;
}
.portfolio-link {
  color: var(--brand-bg-color);
}
.portfolio-link:hover {
  color: var(--brand-bg-color);
}

.contact-page {
  background: var(--brand-bg-color);
  color: var(--brand-font-color);
  border-radius: 1px;
  padding: 80px 20px 80px 20px;
  max-width: 900px;
  margin: 50px auto;
  text-align: center;
}

.contact-details {
  font-size: 24px;
}

.navbar {
  background: var(--brand-bg-color) !important;
  font-family: "Montserrat", sans-serif;
}

.navbar-brand {
  color: var(--brand-font-color) !important;
  line-height: 2;
  font-weight: 600;
  text-transform: uppercase;
  padding-right: 50px !important;
}
.navbar-brand:hover {
  color: var(--brand-font-color) !important;
}

.nav-link {
  color: var(--brand-font-color) !important;
  padding-right: 50px !important;
}

.nav-link:hover {
  color: var(--brand-font-color) !important;
  text-decoration: underline;
}

.navbar-toggler {
  color: var(--brand-font-color) !important;
}
.nav-link.active {
  font-weight: bolder !important;
}
